<? /*<div id="search" class="input-group">
  <input type="text" name="search" value="<?php echo $search; ?>" placeholder="<?php echo $text_search; ?>" class="form-control input-lg" />
  <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
  </span>
</div>*/ ?>

<form>
	<div class="search">
	  <input type="search" value="<?= $search; ?>" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}" required="">
	</div>
	<div class="section_room">
	  <select id="country" onchange="change_country(this.value)" class="frm-field required">
	    <option value="null">All categories</option>
	    <option value="null">Electronics</option>
	    <option value="AX">kids Wear</option>
	    <option value="AX">Men's Wear</option>
	    <option value="AX">Women's Wear</option>
	    <option value="AX">Watches</option>
	  </select>
	</div>
	<div class="sear-sub">
	  <input type="submit" value=" ">
	</div>
	<div class="clearfix"></div>
</form>